<div class="container">
  <ul>
    <li class="dish-card" *ngFor="let dish of dishes">
      <a routerLink="/dish/{{ dish.id }}">
        <img src="{{ dish.imageUrl }}" />
        <div class="details">
          <div class="top">
            <div class="name">
              {{ dish.name }}
            </div>
            <div class="heart">
              <span class="favorite {{ dish.favorite ? '' : 'not' }}"> ❤ </span>
            </div>
          </div>
          <div class="stars">
            <star-rating
              [value]="dish.stars"
              [totalstars]="5"
              checkedcolor="red"
              uncheckedcolor="black"
              size="20px"
              [readonly]="true"
            >
            </star-rating>
          </div>
          <div class="origins">
            <h5>Origins</h5>
            <span *ngFor="let origin of dish.origins">{{ origin }}</span>
          </div>
          <div class="ingredients">
            <h5>ingredients</h5>
            <span *ngFor="let ingredient of dish.ingredients"
              >{{ ingredient }}
            </span>
          </div>
          <div class="cook-time">
            <span>🕑</span>
            {{ dish.cookTime }}m
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
