header {
  background: white;
  padding: 0;
  border-bottom: 1px solid whitesmoke;
  background-color: #75a5f5;
  padding: 0 50px;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img.logo {
  width: 13vw;
  height: 9vh;
  font-weight: bold;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 1em;
}

nav ul li {
  margin: 0 70px;
  color: whitesmoke;
  font-size: 1.4rem;
  font-weight: bold;
}

nav ul li a {
  padding: 1em;
  display: inline-block;
}
.btn-signIn {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  padding: 20px 30px;
  height: 30px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2563eb;
  color: whitesmoke;
}
