<body>
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form>
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input
              ngModel
              name="full-name"
              #fullNameInput="ngModel"
              minlength="2"
              type="text"
              placeholder="Enter your full name"
              required
            />
            <div
              *ngIf="fullNameInput.invalid && fullNameInput.dirty"
              class="alert alert-danger"
            >
              Full name must be at least two characters long
            </div>
          </div>

          <div class="input-box">
            <span class="details">Email</span>
            <input
              type="email"
              required
              email
              ngModel
              name="email"
              #emailInput="ngModel"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
            <div
              *ngIf="emailInput.invalid && emailInput.dirty"
              class="alert alert-danger"
            >
              Enter a valid Email address
            </div>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input
              type="password"
              required
              ngModel
              name="password"
              minlength="4"
              #pwdInput="ngModel"
              id="exampleInputPassword1"
              placeholder="Password"
            />
            <div
              *ngIf="pwdInput.invalid && pwdInput.dirty"
              class="alert alert-danger"
            >
              Enter a valid password of at least 4 characters long.
            </div>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input
              type="password"
              required
              ngModel
              name="ConfirmPassword"
              minlength="4"
              #cnrmPwdInput="ngModel"
              id="ConfirmexampleInputPassword1"
              placeholder="Confirm Password"
            />
            <div
              *ngIf="cnrmPwdInput.invalid && cnrmPwdInput.dirty"
              class="alert alert-danger"
            >
              Password mismatch.
            </div>
          </div>
        </div>

        <div (click)="submit()" class="button">
          <input type="submit" value="Register" />
        </div>
      </form>
    </div>
  </div>
</body>
